nav {
  background-color: #D6A99D;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  height: auto;
  border-radius: 50%;
}

.products-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}

.product-card {
  background-color: #D6DAC8;
  border: 2px solid #9CAFAA;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  text-align: center;
  transition: 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  border-color: #D6A99D;
}

.product-card h3 {
  color: #333;
}

.product-card .price {
  font-weight: bold;
  color: var(--c4);
}

button {
  background-color: #9CAFAA;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #D6A99D;
}


.order {
  display: none;
}

body{
      background-color: #FBF3D5;
}

.btn-primary{
    background-color: #D6A99D;
    border: 2px solid #D6A99D;
    position: relative;
    bottom: 10px;
    width: 150px;
    left: 40%;

}
.btn-primary:active:focus {
  background-color: #b38c82;
  border: none;
}

.btn-primary:hover{
    background-color: #b6725e;
    border: 2px solid #b6725e;
}

.card:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

footer {
  background-color: #e5b4ab; /* пастельно-рожевий як у шапці */
  padding: 40px 0 10px;
  color: #4a2f2b;
  margin-top: 40px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 60px;
  margin-bottom: 10px;
}

.footer-logo h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.footer-links h4,
.footer-contacts h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-links a {
  display: block;
  color: #4a2f2b;
  text-decoration: none;
  margin: 5px 0;
  transition: 0.2s;
}

.footer-links a:hover {
  color: white;
  padding-left: 5px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}